*.err
*.log
scenicplus/
pycisTopic/
*.csv
*.txt
*.tsv
*.h5ad
*.mtx
__pycache__/
tmp/
LOGS/
*pkl
outs/
*.pybiomart.sqlite
aertslab_motif_colleciton/
*.png
cbust
bedGraphToBigWig
*.bedgraph
pyflame/
scplus_pipeline/Snakemake/.snakemake
input/
old_code/
*.feather
debugging/
create_cisTarget_databases_original/
mESC/
out/
ATAC_preprocessing_full_pipeline.py
organism_genome_files/human/*
organism_genome_files/mouse/*
*_outs/
K562/
*_config.yaml
*tmp
*.out